<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SystemCode" >
  <sql id="Base_Column_List" >
    codeType,codeName,codeValue,codeStatus,codeShowName,codeFiter,codeSort,codeParentValue,codeDesc
  </sql>
  <select id="selectByPrimaryKey" resultType="SystemCode" parameterType="java.lang.String" >
    select 
    *
    from SystemCode
    where codeValue = #{codeValue,jdbcType=CHAR}
  </select>
</mapper>